body {
  touch-action: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.canvas-block {
  display: flex;
  flex-direction: row;
  
}
#canvas {
  display: block;
  border: 2px rgb(46, 46, 46) solid;
  margin: 10px auto;
  touch-action: none; /* disable drag */
}
#canvas:hover {
  cursor: crosshair;
}

.canvas-cursor {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgba(34, 34, 34, 0.342);
  position: fixed;
  pointer-events: none;
  transform: translate(-50%, -50%);
}