/* countdown function */
.countdown-block {
    height: 40px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.countdown-number {
    width: 40px;
    height: 40px;
    
    position: relative;
    line-height: 40px;
    text-align: center;
    font-size: 1.5rem;

}
.countdown-number p {
    font-size: 1.3rem;
    width: 40px;
    height: 40px;
    margin: 0;

}
.countdown-number svg {
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;

    transform: rotate(-90deg);
}
.animation-circle {
    stroke-width: 2px;
    stroke: rgb(170, 62, 62);
    fill: none;
    stroke-dasharray: 120;
    stroke-dashoffset: 120;
    transition: all 0.9s linear;
}

.countdown-btns {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    background-color: rgba(34, 34, 34, 1);

    transition: 0.4s ease;
}
.countdown-btns:hover {
   cursor: pointer;
   background-color: rgba(78, 78, 78, 0.8);
}
.countdown-btns:active {
    background-color: rgba(34, 34, 34, 1);
 } 
.countdown-btns svg {
    position: absolute;
    left: 0;
    top: 0;
    width:40px;
    height: 40px;
}
.countdown-btns polygon {
    fill: rgb(219, 219, 219);
}

#reset-btn {
    position: absolute;
    left: 20px;
    top: 0;
}
#pause-btn {   
    margin-right: 20px;
}
#forward-btn {
    margin-left: 20px;
}
