
.tool-blocks {
    min-width: 100px;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
  
    background-color: #222;
    border: 2px rgb(46, 46, 46) solid;
    margin: 10px 5px;
  }
  .tool-btn {
    height: 40px;
    width: 80px;
    color: #fff;
    background-color: #222;
    border: 2px #fff solid;
    margin: 2px 0;
    padding: 3px 5px;
    font-size: 1.1rem;
    
  }
  .tool-btn:hover {
    background-color: rgba(138, 137, 137, 0.849);
    cursor: pointer;
    transition: 0.4 ease;
  }
  .tool-btn:active {
    background-color: rgba(29, 29, 29, 0.849);
    
  }
  
  .color-blocks {
    
    display: flex;
    flex-direction: column;
  }
  .color-block {
    width: 30px;
    height: 30px;
    border: 2px rgb(221, 220, 220) solid;
    border-radius: 50%;
  
    margin: 5px;
  }
  .color-block .color-selected {
    border-color: rgba(0, 0, 0, 0.5);
  }
  .color-block:hover {
    background-color: rgba(138, 137, 137, 0.849);
    cursor: pointer;
    
  }
  .color-block:active {
    background-color: rgba(26, 26, 26, 0.849);
    cursor: pointer;
  }
  
  .color-picker {
    min-width: 30px;
    height: 35px;
    margin:5px 0;
  
  }
  .width-bar {
    width: 80%;
    margin: 0 10px;
  }
  .current-width {
    color: #fff;
  
    width: 50px;
    height: 30px;
    text-align: center;
    
    font-size: 1.3rem;
    margin:  10px 0;
  }
  